.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.title {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 600;
}


.description {
  font-size: 0.9rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumn > * + * {
  padding: 0.8rem;
  text-align: center;
}

.flexColumn input {
  padding-left: 0.5rem;
}

.button {
  font-size: 1.2rem;
  padding: 0.6rem;
  margin-top: 2rem;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.shortLine {
  width: 4rem;
  border-bottom: 2px solid black;
  margin: auto;
  transform: translateY(-0.5rem);
}

.italic {
  font-style: italic;
}

.red {
  color: orangered;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .flexColumn > * + * {
    padding: 0.5rem;
  }
}
