.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.title {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 600;
}


.description {
  font-size: 0.9rem;
}

.button {
  padding: 1rem;
  margin-top: 1.5rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumn > * + * {
  padding: 1rem;
}

.shortLine {
  width: 4rem;
  border-bottom: 2px solid black;
  margin: auto;
  transform: translateY(-0.5rem);
}

@media (max-width: 600px) {
  .flexColumn > * + * {
    padding: 0.5rem;
  }
}
